.head {
  background-image: url("../images/backgrounds/h_img.jpg");
  height: auto;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  background-size: cover;
  
}