.head {
  background-image: url("../images/backgrounds/h_img.jpg");
  height: auto;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
  background-size: cover;
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: cursive;
}

p {
  font-family: "Kaushan", "Script";
}
#logo {
  display: block;
  float: right;
  padding-left: 50%;
  background-color: grey;
  place-content: center;
}

#first {
  clear: both;
}
.info {
  text-align: center;
  margin-top: 5%;
}

.services {
  background-image: url("../images/backgrounds/s_image.jpg");
  height: 200%;
  text-align: center;
  color: white;
  margin-top: 5%;
  background-size: cover;
}
.mgn {
  padding-top: 10%;
  padding: 10%;
}

.perform {
  text-align: center;
  padding-top: 5%;
}

.row {
  padding-top: 3%;
}